{{ define "title" }}Olimpiadas UNICEN{{ end }}

{{ define "content" }}

<!--
        <div id="countdown">
            <div>
                <span id="dias">00</span> días
            </div>
            <div>
                <span id="horas">00</span> horas
            </div>
            <div>
                <span id="minutos">00</span> minutos
            </div>
            <div>
                <span id="segundos">00</span> segundos
            </div>
        </div>


    
-->

    {{ $facultades := .Facultades }}
    <section class="navegacion-facultades">
        <nav>
            {{ range $facultades }}
            <button class="btn-{{ . }}" onclick="window.location.href='/facultades?facultad={{ . }}'">
                {{ . | title }}
            </button>
            {{ end }}
        </nav>
    </section>


    <section class="fondo">
        <div class="fondo-contenido">
            <p>OLIMPIADAS INTERFACULTATIVAS 2026</p>
        </div>
    </section>

        <section id="puntos">
            <h2>Puntos</h2>
            <p> Aca van los resultados parciales, cada punto de todas las facultades</p>
        </section>
    
        <section id="partidos">
            <h2>Partidos</h2>
            <p> Aca va el siguiente partido</p>
        </section>

        <section id="ultimos-partidos">
            <h2>Ultimos partidos</h2>
            <p>Aca van los posteos de los ultimos partidos. Se publica las facultades, el resultado y fotos del post original. Aca se va a poder comentar comentarios y fotos.</p>
        </section>
{{ end }}