{{ define "title" }}Albergue Universitario{{ end }}

{{ define "content" }}
<h1>Consultanos</h1>

<p>El albergue Universitario esta situado en el Gimnasio del Campus Universitario de la ciudad de Tandil -Paraje Arroyo
Seco: en calle Reforma Universitaria y Rector R. Cruz- a unos 6 km. del centro de la ciudad. El albergue esta destinado
a grupos no inferiores a 20 personas y hasta 60.

Capacidad Máxima: 60 plazas (2 sectores de 30)

Servicios:

Camas cuchetas e individuales provistas de colchón con funda, almohada, frazada y cubrecama. (El alberguista deberá
traer su ropa de cama o bolsa de dormir)

Vestuario, duchas y baños

Alarma monitoreada

Estacionamiento

Wi-fi

El Campus Universitario cuenta con un Comedor, con el cual se pueden coordinar desayunos, almuerzos y cenas a precios
accesibles. (de lunes a viernes)



Una vez confirmada la reserva se deberá enviar por nota o vía mail (dormisunicen@gmail.com) la solicitud del lugar con
los días de uso, horario de llegada y salida del mismo, datos del responsable del grupo o delegación. Nombre de la
institución dirección y teléfono.</p>

<h2>Condiciones de Reserva y Uso</h2>

<h2>Fotos de las Instalaciones</h2>


{{ end }}