{{ define "title" }}Consultanos{{ end }}

{{ define "content" }}
<h1>Consultanos</h1>

<p>Envianos tu consulta completando el formulario que está a continuación. Si preferís, también podés mandarnos un mail con
tu consulta a deportes@rec.unicen.edu.ar.

Te responderemos a la brevedad.</p>

<form action="/consulta" method="POST">
    
    <label for="name">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="" required><br>

    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" name="apellido" placeholder="" required><br>

    <label for="email">Correo Electrónico</label>
    <input type="email" id="password" name="password" placeholder="" required><br>

    <label for="email">Teléfono</label>
    <input type="telephone" id="password" name="password" placeholder="" required><br>

    <label for="email">Dirección</label>
    <input type="password" id="password" name="password" placeholder="" required><br>

    <label for="username">Consulta</label>
    <input type="text" id="username" name="username" autocomplete="username" required>

    <button type="submit">Enviar consulta</button>
</form>

{{ if .ErrorMessage }}
<div id="mensaje" style="color:red;">
    {{ .ErrorMessage }}
</div>
{{ end }}
{{ end }}