{{ define "title" }}Noticias{{ end }}

{{ define "content" }}

    <!-- Área de resultados -->
    <!-- Se verifica que la lista de resultados no esté vacía -->
    {{if .Results}}
    <h2>Resultados:</h2>
    <ul>
        {{range .Results}}
        <li>
            <strong>{{.Title}}</strong> ({{.Type}})<br>
            {{if .Description}}{{.Description}}{{end}}<br>
            {{if .ImageURL}}<img src="{{.ImageURL}}" alt="{{.Title}}" style="max-width:150px;"><br>{{end}}
        </li>
        {{end}}
    </ul>
    {{else if .Query}}
    <p>No se encontraron resultados para "{{.Query}}".</p>
    {{end}}
    
{{ end }}