{{ define "title" }}UKI - Sign In{{ end }}

{{ define "content" }}
    <h1>Sign In</h1>
    <form action="/signin" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autocomplete="username" required>

        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" autocomplete="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" autocomplete="new-password" required>

        <button type="submit">Registrarse</button>
    </form>

    {{ if.ErrorMessage }}
        <div id="mensaje" style="color:red;">
            {{ .ErrorMessage }}
        </div>
    {{ end }}
{{ end }}