<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>UKI - Sign In</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="icon" type="image/png" href="/static/img/icono.png">
</head>

<body>
    <header>
        <img src="img/logo.png" alt="Logo UKI" id="logo">

    </header>
    <main>
        <h1>Sign In</h1>
            <form action="/signin" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" autocomplete="username" required>
                
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email" autocomplete="email" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" autocomplete="new-password" required>
                
                <button type="submit">Registrarse</button>
            </form>
    </main>

    <footer>
        <p>&copy; 2025 UKI</p>
    </footer>
</body>

</html>