# Database.
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable

APP_PORT=8080
MEILI_KEY=meili
MEILI_PORT=7700
MEILI_URL=http://meilisearch:7700
SUPERTOKENS_URL=http://supertokens:3567

# El nombre del host debe coincidir con
# especificado en el Docker Compose.
SUPERTOKENS_HOST=supertokens
SUPERTOKENS_PORT=3567

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=avatars
MINIO_HOST=http://minio:9000
MINIO_PUBLIC_URL=http://localhost:9000

# MailHog
SMTP_HOST=mailhog
SMTP_PORT=1025

# Admin
ADMIN_NAME=admin
ADMIN_SURNAME=full-access
ADMIN_EMAIL=admin@scifi-search.com
ADMIN_PASSWORD=admin