{{ define "title" }}Noticias{{ end }}

{{ define "content" }}

<!-- Área de resultados -->
<!-- Se verifica que la lista de resultados no esté vacía -->
{{if .Results}}
<h2>Resultados:</h2>
<ul>
    {{range .Results}}
    <li>
        <strong>{{.Título}}</strong> ({{.Tipo}})<br>
        {{if .Contenido}}{{.Contenido}}{{end}}<br>
        {{if .ImageURL}}<img src="{{.ImageURL}}" alt="{{.Title}}" style="max-width:150px;"><br>{{end}}
    </li>
    {{end}}
</ul>
{{ else }}
<p>No se encontraron noticias.</p>
{{end}}

{{ end }}