#history-content {
    grid-area: display-center;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "history-title"
        "history-content";

    background-color: var(--scifi30);
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 8vh;
}

#history-title {
    grid-area: history-title;
    color: var(--scifi);
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
}

#history-list {
    grid-area: history-content;
    padding: 1rem;
}

.historic-query {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px var(--scifi) solid;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
}

.historic-query p {
    margin: 0;
    padding-right: 1rem;
    padding-left: 0.25rem;
}