.index-content {
    grid-area: content;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 18.5vh;
}

.index-container {
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.img-container {
    display: flex;
    justify-content: center;
}

#scifi_logo {
    max-height: 150px;
    width: auto;
}

.query-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#first-query {
    height: 44px;
    width: 100%;
    max-width: 700px;

    color: black;

    border-radius: 32px;
    border: 0px;

    background-color: var(--scifi30);

    background-image: url('../img/icons/search-white.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
}

#first-query:focus {
    border: 0.5px solid var(--scifi);
}