@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases, para no ensuciar el HTML */
@layer components {
    .contenedor-grid {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 9% 85% 6%;
        grid-template-areas: 
            "header"
            "content"
            "footer";
    }
    
    /* Input style reset helper */
    .input-scifi {
        @apply h-[60%] w-[75%] text-black rounded-[20px] border-0 bg-scifi-30 pl-[15px];
    }
}

/* Estilos globales básicos */
body {
    @apply font-ibm font-normal bg-background text-black m-0 bg-cover bg-main-bg;
}