/* --------------- Constantes --------------- */
:root {
    --scifi: rgba(0, 87, 133);
    --scifi30: rgba(0, 87, 133, 0.3);
    --background: white;
}

/* --------------- Generales --------------- */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    background-image: url('../img/fondo.png');
    background-size: cover;
    color: black;
    margin: 0px;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9% 85% 6%;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    height: 100vh;
}

.content {
    grid-area: content;

    /*background-color: #a56e5d;
    border: 1px solid rgb(255, 0, 0);*/
}

/* --------------- Header --------------- */
/*header para el index
to-do: ver como variar los headers*/
.header {
    grid-area: header;

    display: flex;
    justify-content: flex-end; /* Ubicar a la derecha */
    align-items: center; /* Centrar verticalmente */
    padding: 0px 10px; /* Espacios a los costados */

    /*background-color: #b3e5fc;
    border: 1px solid rgb(255, 0, 0);*/
}

.header-buttons {
    display: flex;
    gap: 10px; /* Espacio entre botones */

    /*border: 1px solid rgb(255, 0, 0);*/
}

.header-button {
    background-color: var(--scifi);   /* color del boton */
    color: white;             /* color del texto */
    border: none;               /* sin borde */
    padding: 0.5rem 1rem;       /* espacio interno */
    border-radius: 5px;         /* esquinas redondeadas */
    cursor: pointer;            /* cambia el cursor al pasar */
    font-weight: bold; /* Efecto de la letra */
    transition: background 0.2s; /* Efecto */
}

.header-button:hover {
    background-color: white;   
    color: var(--scifi);                
}

/* --------------- Footer --------------- */

.footer {
    grid-area: footer;

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */

    /*background-color: #c49b5d;
    border: 1px solid rgb(255, 0, 0);*/
}

.footer-text {
    display: flex;
    gap: 8px;
    color: black;
    font-size: 14px;
    align-items: center;
}

#logo-meilisearch {
    height: 20px;
}

/* --------------- Index --------------- */

#logo_scifi {
    height: 150px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

#first-query {
    height: 40px;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);

    color: black;

    border-radius: 32px; /* Redondeo del input de texto */
    border: 0px;

    background-color: var(--scifi30);

    background-image: url('../img/icono_busqueda_blanco.svg');
    background-repeat: no-repeat; /*Sin esto, repite la imagen en todo el input*/
    background-position: 10px 10px; /*Ubica la imagen centrada*/
    padding-left: 40px; /*Ubica dónde se comenzara a escribir, evitando el texto sobre la lupa*/
}

#first-query:focus { /* Efecto de borde al entrar al input */
    border: 0.5px black;
}

/* --------------- Search --------------- */
.search-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
        "filter-section"
        "results-section";
    height: 100%;
}

.filter-section {
    grid-area: filter-section;
    background-color: var(--scifi30);

    /*background-color: #c959d8;
    border: 1px solid rgb(255, 0, 0);*/
}

.results-section {
    grid-area: results-section;
    padding: 35px;

    overflow-y: auto;       /* habilita scroll vertical si hace falta */
    max-height: 100%;       /* máximo al espacio disponible */

    /*background-color: #5dd859;
    border: 1px solid rgb(255, 0, 0);*/
}