{{ define "title" }}Noticias{{ end }}

{{ define "content" }}
<h1>Noticias</h1>

<hr> <!-- Barra divisora -->

<!-- Se verifica que los resultados no estén vacíos -->
{{if .Results}}
<div class="noticias">
    {{range .Results}}
    <article class="noticia">
        <h2 class="noticia-titulo">{{.Titulo}}</h2>
        <p class="noticia-contenido">{{.Contenido | safeHTML}}</p>
    </article>
    <hr>
    {{end}}
</div>

<form action="/noticias" method="get">
    <input type="hidden" name="offset" value="{{add .Offset 5}}">
    <button type="submit">Cargar más</button>
</form>
{{else}}
<p>No se encontraron noticias.</p>
{{end}}

{{ end }}