{{ define "title" }}Ayuda{{ end }}

{{ define "content" }}

<div class="menu-options">
    <button onclick="window.location.href='/albergue'">Albergue</button>
    <button onclick="window.location.href='/carnet-deportivo'">Carnet Deportivo</button>
    <button onclick="window.location.href='/noticias'">Noticias</button>
    <button onclick="window.location.href='/cargar-noticia'">Cargar noticia</button>
    <button onclick="window.location.href='/consultar'">Consultar</button>
    <button onclick="window.location.href='/'">Ir a la pantalla principal</button>
</div>

{{ end }}