{{ define "layout" }}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}SciFi Search{{ end }}</title>
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="icon" type="image/png" href="static/img/icono.png"> 
    <link rel="icon" type="image/png" href="static/img/Adrien Converse.jpg">
</head>

<body>

    {{ template "header" . }}

    <main>
        {{ block "content" . }}{{ end }}
    </main>

    {{ template "footer" . }}

</body>

</html>
{{ end }}