package views

import "scifi-search/app/utils"

// ------------------------------------------------------------------------------------------------
templ addFundingContent(translator utils.Translator) {
	<main>
		<div class="signup-container">
			<div class="centered-container">
				<form id="funding-form" action="/funding" method="POST">
					<div class="form-name-container">
						<input type="text" id="name" placeholder={ translator("name") } name="name" required/>
					</div>
					<div class="form-surname-container">
						<input type="text" id="description" placeholder={ translator("description") } name="description" required/>
					</div>
					<div class="form-email-container">
						<input type="text" id="first-area" placeholder={ translator("first-area") } name="first-area" required/>
					</div>
					<div class="form-password-container">
						<input type="text" id="second-area" placeholder={ translator("second-area") } name="second-area" required/>
					</div>
					<div class="form-password-container">
						<input type="text" id="type" placeholder={ translator("type") } name="type" required/>
					</div>
					<div class="form-password-container">
						<input type="link" id="link" placeholder={ translator("link") } name="link"/>
					</div>
					<div class="form-submit-container">
						<button class="submit-button" type="submit">{ translator("submit") }</button>
					</div>
				</form>
			</div>
		</div>
	</main>
}

// ------------------------------------------------------------------------------------------------
templ AddFundingPage(translator utils.Translator) {
	@Layout(translator("funding.new"), translator, 
		func() templ.Component { return Header() },
		func() templ.Component { return addFundingContent(translator) },
	)
}

// ------------------------------------------------------------------------------------------------
