package views

import "scifi-search/app/utils/converters"

templ pagination(totalHits int, currentPage int, get string, include string, target string) {
	{{
		itemsPerPage := 10
		pagesPerWindow := 10

		pageAmount := (totalHits + itemsPerPage - 1) / itemsPerPage
		windowAmount := (pageAmount + pagesPerWindow - 1) / pagesPerWindow

		currentWindow := (currentPage + pagesPerWindow - 1) / pagesPerWindow

		init := (currentWindow-1)*pagesPerWindow + 1
		last := min(currentWindow*pagesPerWindow, pageAmount)
	}}
	<div class="pagination">
		if currentWindow > 1 {
			@navigationButton((currentWindow-1)*pagesPerWindow, "«", get, include, target)
		}
		if currentPage > 1 {
			@navigationButton(currentPage-1, "‹", get, include, target)
		}
		for i := init; i <= last; i++ {
			if i == currentPage {
				<span id="current-page">{ converters.ToString(i) }</span>
			} else {
				@navigationButton(i, converters.ToString(i), get, include, target)
			}
		}
		if pageAmount > currentPage {
			@navigationButton(currentPage+1, "›", get, include, target)
		}
		if windowAmount > currentWindow {
			@navigationButton(currentWindow*pagesPerWindow+1, "»", get, include, target)
		}
	</div>
}

templ navigationButton(page int, button string, get string, include string, target string) {
	<a
		class="page"
		hx-get={ get }
		if include != "" {
			hx-include={ include }
		}
		hx-target={ target }
		hx-swap="innerHTML"
		hx-vals={ `{"page": "` + converters.ToString(page) + `"}` }
	>
		{ button }
	</a>
}

templ documentItem(m map[string]any, name string) {
	<div id={ name + "-" + converters.ToString(m["id"]) }>
		<a id="title" href={ converters.ToString(m["Link"]) } target="_blank">{ converters.ToString(m["Nombre"]) }</a>
		<div class="extra-info">
			@extraInfoItem(converters.ToString(m["Tipo"]), "gray")
			@extraInfoItem(converters.ToString(m["Gran area 1"]), "scifi")
			@extraInfoItem(converters.ToString(m["Gran area 2"]), "scifi")
			@extraInfoItem(converters.ToString(m["Deadline"]), "orange")
			@extraInfoItem(converters.ToString(m["Pais"]), "yellow")
			@extraInfoItem(converters.ToString(m["Otorgante"]), "cyan")
			@extraInfoItem("("+converters.ToString(m["Moneda"])+") "+converters.ToString(m["Monto"]), "green")
		</div>
		if converters.ToString(m["Descripcion"]) != "" {
			<p id="description">{ converters.ToString(m["Descripcion"]) }</p>
		} else {
			<p>No description. </p>
		}
	</div>
}

templ extraInfoItem(item string, color string) {
	if item != "" {
		<span class={ color }>{ item } </span>
	}
}
