package views

import "scifi-search/app/languages"

// ------------------------------------------------------------------------------------------------
// Services
// ------------------------------------------------------------------------------------------------
templ ExportModal(translator languages.Translator) {
	@Modal(translator("core.export-documents"), func() templ.Component {
		return exportModalBody(translator)
	})
}

// ------------------------------------------------------------------------------------------------
// Functions
// ------------------------------------------------------------------------------------------------
templ exportModalBody(translator languages.Translator) {
	<div class="export-modal-body">
		<p>{ translator("core.choose-a-format") + ": " }</p>
		<div class="export-options">
			<a
				href="/documents/export?format=csv"
				class="scifi-button"
			>
				CSV
			</a>
			<a
				href="/documents/export?format=xlsx"
				class="scifi-button"
			>
				Excel
			</a>
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------
