package views

templ Filters() {
    <div class="dropdown">
        <button class="dropbtn">Type</button>
        <div class="dropdown-content">
            <input type="checkbox" id="item1" value="Artistic pursuit">
                <label for="item1">Artistic pursuit</label><br>
            <input type="checkbox" id="item2" value="Contract tender or cooperative agreement">
                <label for="item2">Contract tender or cooperative agreement</label><br>
            <input type="checkbox" id="item3" value="Directory">
                <label for="item3">Directory</label><br>
            <input type="checkbox" id="item4" value="Equipment/Supplies or Facilities">
                <label for="item3">Equipment/Supplies or Facilities</label><br>
            <input type="checkbox" id="item5" value="Prizes and Awards">
                <label for="item3">Prizes and Awards</label><br>
            <input type="checkbox" id="item6" value="Programs and projects">
                <label for="item3">Programs and projects</label><br>
            <input type="checkbox" id="item7" value="Research and publications">
                <label for="item3">Research and publications</label><br>
            <input type="checkbox" id="item8" value="Research Stays">
                <label for="item3">Research Stays</label><br>
            <input type="checkbox" id="item9" value="Fellowships scholarships or trainings">
                <label for="item3">Fellowships scholarships or trainings</label><br>
            <input type="checkbox" id="item10" value="Search engines/portal">
                <label for="item3">Search engines/portal</label><br>
            <input type="checkbox" id="item11" value="Travel and Conferences">
                <label for="item3">Travel and Conferences</label><br>
        </div>
    </div>

    <button onclick="submitSelection()" class="submit-btn">Apply filters</button>

    <script>
        function submitSelection() {
            let selectedItems = [];
            let checkboxes = document.querySelectorAll(
                'input[type=checkbox]:checked');
            checkboxes.forEach(function (checkbox) {
                selectedItems.push(checkbox.value);
            });
            alert("Selected items: " + selectedItems.join(', '));
        }
    </script>
}