package views

templ firstQuery() {
    <div class="inicio">
        <div class="centered-container"> 
            <div class="inicio-image-container">
                <img src="static/img/logo.png" alt="Logo Scifi" id="logo_scifi">
            </div>
            <div class="inicio-query-container">
                <input type="text" id="first-query" placeholder="Search for SCIENCE!!!" />
            </div>
        </div>
    </div>

    // El script se puede incluir directamente.
    // templ es lo suficientemente inteligente como para no procesar el JavaScript.
    <script>
        const input = document.getElementById("first-query");
        input.addEventListener("keypress", (e) => {
            if (e.key === "Enter") {
                const query = input.value.trim();
                if (!query) return;
                window.location.href = `/search?query=${encodeURIComponent(query)}`;
            }
        });
    </script>
}