package views

import "scifi-search/app/utils"

// ------------------------------------------------------------------------------------------------
templ fundingAddedContent(translator utils.Translator) {
	<main>
		<div class="sucessful-signup-container">
			<h1>{ translator("funding.added") }</h1>
			<button class="header-button" onclick="window.location.href='/'">{ translator("redirect.main_page") }</button>
			<button class="header-button" onclick="window.location.href='/funding'">{ translator("funding.add_another") }</button>
		</div>
	</main>
}

// ------------------------------------------------------------------------------------------------
templ FundingAddedPage(translator utils.Translator) {
	@Layout(translator("funding.added"), translator, 
		func() templ.Component { return Header() },
		func() templ.Component { return fundingAddedContent(translator) },
	)
}

// ------------------------------------------------------------------------------------------------
