package views

import "scifi-search/app/utils"

templ fundingAddedContent(translator utils.Translator) {
	@Header()
	<main>
		<div class="sucessful-signup-container">
			<h1>{ translator("funding.added") }</h1>
			<button class="header-button" onclick="window.location.href='/'">{ translator("redirect.main_page") }</button>
			<button class="header-button" onclick="window.location.href='/funding'">Add another funding</button>
		</div>
	</main>
}

templ FundingAddedPage(translator utils.Translator) {
	@Layout(translator("funding.added"), func() templ.Component {
		return fundingAddedContent(translator)
	})
}
