package views

import (
	"container/list"
	"scifi-search/app/languages"
	"scifi-search/app/utils/converters"
)

// ------------------------------------------------------------------------------------------------
// ------------------------------------ Modal Component -------------------------------------------
// ------------------------------------------------------------------------------------------------
templ FundingModal(mode string, document map[string]any, documentTypes *list.List, documentAreas *list.List, documentBasedOn *list.List, documentGrantors *list.List, documentCurrencies *list.List, translator languages.Translator) {
	<div class="modal-overlay">
		<div class="modal-content">
			<div class="modal-header">
				<h2>
					if mode == "edit" {
						{ translator("funding.edit") }
					} else {
						{ translator("funding.new") }
					}
				</h2>
				<button class="close-button" type="button" onclick="this.closest('.modal-overlay').remove()">&times;</button>
			</div>
			@fundingForm(document, mode, documentTypes, documentAreas, documentBasedOn, documentGrantors, documentCurrencies, translator)
		</div>
	</div>
	<script>
		(function () {
			document.addEventListener("click", (e) => {
				if (e.target.classList.contains("modal-overlay")) {
					e.target.remove()
				}
			})
		})();
	</script>
}

templ fundingForm(document map[string]any, mode string, documentTypes *list.List, documentAreas *list.List, documentBasedOn *list.List, documentGrantors *list.List, documentCurrencies *list.List, translator languages.Translator) {
	<form
		id="funding-form"
		if mode == "edit" {
			hx-put={ "/funding/" + document["id"].(string) }
		} else {
			hx-post="/funding"
		}
		hx-target="#funding-list"
		hx-swap="innerHTML"
		hx-on="htmx:afterRequest: if(event.detail.successful) document.getElementById('modal-root').innerHTML=''"
	>
		<div class="form-inputs">
			<div class="labeled-input">
				<label for="name">{ translator("name") }</label>
				<input
					type="text"
					id="name"
					name="name"
					required
					if document["Nombre"] != nil && document["Nombre"].(string) != "" {
						value={ document["Nombre"].(string) }
					}
				/>
			</div>
			<div class="labeled-input">
				<label for="type">{ translator("type") }</label>
				<input
					type="text"
					id="type"
					name="type"
					list="types"
					required
					if document["Tipo"] != nil && document["Tipo"].(string) != "" {
						value={ document["Tipo"].(string) }
					}
				/>
			</div>
			<div class="labeled-input">
				<label for="first-area">{ translator("areas") }</label>
				<input
					type="text"
					id="first-area"
					placeholder={ translator("first-area") }
					name="first-area"
					list="areas"
					required
					if document["Gran area 1"] != nil && document["Gran area 1"].(string) != "" {
						value={ document["Gran area 1"].(string) }
					}
				/>
				<input
					type="text"
					id="second-area"
					placeholder={ translator("second-area") }
					name="second-area"
					list="areas"
					if document["Gran area 2"] != nil && document["Gran area 2"].(string) != "" {
						value={ document["Gran area 2"].(string) }
					}
				/>
			</div>
			<div class="labeled-input">
				<label for="link">{ translator("link") }</label>
				<input
					type="url"
					id="link"
					name="link"
					if document["Link"] != nil && document["Link"].(string) != "" {
						value={ document["Link"].(string) }
					}
				/>
			</div>
			<div class="labeled-input">
				<label for="description">{ translator("description") }</label>
				<input
					type="text"
					id="description"
					name="description"
					if document["Descripcion"] != nil && document["Descripcion"].(string) != "" {
						value={ document["Descripcion"].(string) }
					}
				/>
			</div>
			<div class="double-input">
				<div class="labeled-input">
					<label for="based-on">{ translator("based_on") }</label>
					<input
						type="text"
						id="based-on"
						name="based-on"
						list="based-on"
						if document["Pais"] != nil && document["Pais"].(string) != "" {
							value={ document["Pais"].(string) }
						}
					/>
				</div>
				<div class="labeled-input">
					<label for="grantor">{ translator("grantor") }</label>
					<input
						type="text"
						id="grantor"
						name="grantor"
						list="grantors"
						if document["Otorgante"] != nil && document["Otorgante"].(string) != "" {
							value={ document["Otorgante"].(string) }
						}
					/>
				</div>
			</div>
			<div class="double-input">
				<div class="labeled-input">
					<label for="currency">{ translator("currency") }</label>
					<input
						type="text"
						id="currency"
						name="currency"
						list="currencies"
						required
						if document["Moneda"] != nil && document["Moneda"].(string) != "" {
							value={ document["Moneda"].(string) }
						}
					/>
				</div>
				<div class="labeled-input">
					<label for="amount">{ translator("amount") }</label>
					<input
						type="text"
						id="amount"
						placeholder="min - max"
						name="amount"
						required
						if document["Monto"] != nil && document["Monto"].(string) != "" {
							value={ document["Monto"].(string) }
						}
					/>
				</div>
			</div>
			<div class="labeled-input">
				<label for="deadline">{ translator("deadline") }</label>
				<input
					type="date"
					id="deadline"
					name="deadline"
					required
					if document["Deadline"] != nil && document["Deadline"].(string) != "" {
						value={ document["Deadline"].(string) }
					}
				/>
			</div>
			@datalist("types", documentTypes)
			@datalist("areas", documentAreas)
			@datalist("based-on", documentBasedOn)
			@datalist("grantors", documentGrantors)
			@datalist("currencies", documentCurrencies)
		</div>
		<div class="modal-footer">
			<button id="cancel-button" type="button" class="scifi-button secondary" onclick="this.closest('.modal-overlay').remove()">
				{ translator("cancel") }
			</button>
			<button type="submit" class="scifi-button">
				{ translator("submit") }
			</button>
		</div>
	</form>
}

templ datalist(name string, options *list.List) {
	<datalist id={ name }>
		for e := options.Front(); e != nil; e = e.Next() {
			<option value={ e.Value.(string) }></option>
		}
	</datalist>
}

// ------------------------------------------------------------------------------------------------
// ------------------------------------ Successful Upload -----------------------------------------
// ------------------------------------------------------------------------------------------------
templ fundingAddedContent(translator languages.Translator) {
	<main>
		<div class="sucessful-signup-container">
			<h1>{ translator("funding.added") }</h1>
			<button class="header-button" onclick="window.location.href='/'">{ translator("redirect.main_page") }</button>
			<button class="header-button" onclick="window.location.href='/funding'">{ translator("funding.add_another") }</button>
		</div>
	</main>
}

templ FundingAddedPage(translator languages.Translator) {
	@Layout(translator("funding.added"), translator,
		func() templ.Component { return Header(true, 0, translator) },
		func() templ.Component { return fundingAddedContent(translator) },
	)
}

// ------------------------------------------------------------------------------------------------
// ------------------------------------ Manage Funding --------------------------------------------
// ------------------------------------------------------------------------------------------------
templ manageFundingContent(fundings []map[string]any, totalFundings int, documentTypes *list.List, documentAreas *list.List, documentBasedOn *list.List, documentGrantors *list.List, documentCurrencies *list.List, translator languages.Translator) {
	<div class="centered-box-content">
		<div id="left"></div>
		<div id="manage-funding-content">
			<div id="funding-title">Manage projects </div>
			<div id="funding-content">
				<div id="funding-list">
					@FundingList(fundings, 1, totalFundings, translator)
				</div>
			</div>
			<div id="funding-buttons">
				<button
					class="scifi-button"
					type="button"
					hx-get="/funding/open-add-new"
					hx-target="#modal-root"
					hx-swap="innerHTML"
				>
					Add new
				</button>
			</div>
		</div>
		<div id="right"></div>
		<div id="modal-root"></div>
	</div>
}

templ FundingList(fundings []map[string]any, page int, totalFundings int, translator languages.Translator) {
	<div class="documents-section">
		for i := 0; i < len(fundings); i++ {
			<div class="result">
				@documentItem(fundings[i], "funding-item")
				<div class="funding-item-buttons">
					<button
						class="funding-item-button edit-button"
						hx-get={ "/funding/open-edit/" + converters.ToString(fundings[i]["id"]) }
						hx-target="#modal-root"
						hx-swap="innerHTML"
					></button>
					<button
						class="funding-item-button delete-button"
						hx-delete={ "/funding/" + converters.ToString(fundings[i]["id"]) }
						hx-target="closest .result"
						hx-swap="outerHTML"
						hx-confirm="¿Desea eliminar el funding? ¡Esta decisión no puede deshacerse!"
						type="button"
					></button>
				</div>
			</div>
		}
	</div>
	@pagination(totalFundings, page, "/funding/update-items", "", "#funding-list")
}

templ ManageFundingPage(fundings []map[string]any, totalFundings int, authorizationLevel int, documentTypes *list.List, documentAreas *list.List, documentBasedOn *list.List, documentGrantors *list.List, documentCurrencies *list.List, translator languages.Translator) {
	@Layout("Manage projects", translator,
		func() templ.Component { return Header(true, authorizationLevel, translator) },
		func() templ.Component {
			return manageFundingContent(fundings, totalFundings, documentTypes, documentAreas, documentBasedOn, documentGrantors, documentCurrencies, translator)
		},
	)
}
