package views

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------

import (
	"container/list"
	"fmt"
	"scifi-search/app/languages"
)

// ------------------------------------------------------------------------------------------------
// Services
// ------------------------------------------------------------------------------------------------
templ FundingModal(
	mode string,
	document map[string]any,
	documentTypes *list.List,
	documentAreas *list.List,
	documentBasedOn *list.List,
	documentGrantors *list.List,
	documentCurrencies *list.List,
	translator languages.Translator,
) {
	@Modal(translator("core."+mode+"-funding"),
		func() templ.Component {
			return fundingForm(
				document,
				mode,
				documentTypes,
				documentAreas,
				documentBasedOn,
				documentGrantors,
				documentCurrencies,
				translator,
			)
		},
	)
}

// ------------------------------------------------------------------------------------------------
// Functions
// ------------------------------------------------------------------------------------------------
templ fundingForm(
	document map[string]any,
	mode string,
	documentTypes *list.List,
	documentAreas *list.List,
	documentBasedOn *list.List,
	documentGrantors *list.List,
	documentCurrencies *list.List,
	translator languages.Translator,
) {
	<form
		id="funding-form"
		if mode == "edit" {
			hx-put={ "/funding/" + document["id"].(string) }
		} else {
			hx-post="/funding"
		}
		hx-target="#funding-list"
		hx-swap="innerHTML"
		_="on htmx:afterRequest
			if event.detail.successful
				remove closest .modal-overlay
			end"
	>
		<div class="form-inputs">
			@labeledInput("name", translator("core.name"),
				"text", "", "", document["Name"], true, "", "")
			@labeledInput("type", translator("core.type"),
				"text", "types", "", document["Type"], true, "", "")
			<div class="labeled-input">
				<label for="main-area">{ translator("core.areas") }</label>
				<input
					type="text"
					id="main-area"
					placeholder={ translator("core.main-area") }
					name="main-area"
					list="areas"
					required
					if document["Main area"] != nil &&
                        document["Main area"].(string) != "" {
						value={ document["Main area"].(string) }
					}
				/>
				<input
					type="text"
					id="secondary-area"
					placeholder={ translator("core.secondary-area") }
					name="secondary-area"
					list="areas"
					if document["Secondary area"] != nil &&
                        document["Secondary area"].(string) != "" {
						value={ document["Secondary area"].(string) }
					}
				/>
			</div>
			@labeledInput("link", translator("core.link"), "url", "", "",
				document["Link"], false, "", "")
			@labeledInput("description", translator("core.description"), "text", "", "",
				document["Description"], false, "", "")
			<div class="double-input">
				@labeledInput("based-on", translator("core.based-on"), "text", "based-on", "",
					document["Based on"], false, "", "")
				@labeledInput("grantor", translator("core.grantor"), "text", "grantors", "",
					document["Grantor"], false, "", "")
			</div>
			<div class="double-input">
				@labeledInput("currency", translator("core.currency"), "text",
					"currencies", "USD, EUR, ARG...", document["Currency"], true,
					"^[A-Z]{3}$", translator("errors.invalid-currency-format"))
				@labeledInput("amount", translator("core.amount"), "text", "",
					"min - max", document["Amount"], true,
					"^[0-9]+([.,][0-9]+)?( - [0-9]+([.,][0-9]+)?)?$", translator("errors.invalid-amount-format"))
			</div>
			@labeledInput("deadline", translator("core.deadline"), "date", "", "",
				document["Deadline"], true, "", "")
			@datalist("types", documentTypes)
			@datalist("areas", documentAreas)
			@datalist("based-on", documentBasedOn)
			@datalist("grantors", documentGrantors)
			@datalist("currencies", documentCurrencies)
		</div>
		<div class="form-footer">
			<button
				id="cancel-button"
				type="button"
				class="scifi-button secondary"
				_="on click halt the event remove closest .modal-overlay"
			>
				{ translator("core.cancel") }
			</button>
			<button type="submit" class="scifi-button">
				{ translator("core.done") }
			</button>
		</div>
	</form>
}

// ------------------------------------------------------------------------------------------------
templ labeledInput(
	input string,
	label string,
	inputType string,
	list string,
	placeholder string,
	inputValue any,
	required bool,
	pattern string,
	errorMessage string,
) {
	{{
		if inputValue == nil {
			inputValue = ""
		}
		inputString := inputValue.(string)
	}}
	<div class="labeled-input">
		<label for={ input }>{ label }</label>
		<input
			type={ inputType }
			id={ input }
			name={ input }
			if list != "" {
				list={ list }
			}
			if placeholder != "" {
				placeholder={ placeholder }
			}
			if pattern != "" {
				pattern={ pattern }
			}
			if inputValue != "" {
				value={ inputString }
			}
			if errorMessage != "" {
				oninvalid={ templ.ComponentScript{
                        Call: fmt.Sprintf(
                            "this.setCustomValidity('%s')",
                            errorMessage,
                        ),
                    } }
				onchange={ templ.ComponentScript{
                        Call: "this.setCustomValidity('')",
                    } }
			}
			if required {
				required
			}
		/>
	</div>
}

// ------------------------------------------------------------------------------------------------
templ datalist(name string, options *list.List) {
	<datalist id={ name }>
		for e := options.Front(); e != nil; e = e.Next() {
			<option value={ e.Value.(string) }></option>
		}
	</datalist>
}

// ------------------------------------------------------------------------------------------------
