package views

templ Header() {
	<header class="header">
		<a onclick="window.location.href='/'">
			<img src="static/img/logo.png" alt="icono" style="width:240px; height:70px;" id="header-logo"/>
		</a>
	</header>
}