package views 

import "scifi-search/app/utils"

templ Header() {
	<header class="header">
		<a onclick="window.location.href='/'">
			<img src="static/img/logo.png" alt="icono" style="width:240px; height:70px;" id="header-logo"/>
		</a>
	</header>
}

templ indexHeader(isUserAuthenticated bool, translator utils.Translator) {
	<header class="index-header">
		if !isUserAuthenticated {
			<button class="header-button" onclick="window.location.href='/signup'">{ translator("sign-up.tag") }</button>
			<button class="header-button" onclick="window.location.href='/login'">{ translator("log-in.tag") }</button>
		} else {
			<div class="index-menu">
				<button id="header-menu">
					<img src="static/img/menu.svg" alt="header-menu-img" id="header_menu"/>
				</button>
				<div id="menu" class="menu-content hidden">
					<button class="menu-button" onclick="window.location.href='/profile'">{ translator("profile.tag") }</button>
					<button class="menu-button" onclick="window.location.href='/funding'">Funding</button>
				</div>
			</div>
		}
		<!--button class="header-button" onclick="window.location.href='/trends'">Trends</button-->
	</header>
}

templ searchHeader(isUserAuthenticated bool) {
	<header class="search-header">
		<div class="header-left">
			<a onclick="window.location.href='/'">
				<img src="static/img/logo_blanco.png" alt="icono" id="logo_scifi_header"/>
			</a>
			<input type="text" id="query" placeholder="Search for SCIENCE!!!"/>
		</div>
		<div class="header-right">
			if !isUserAuthenticated {
				<button class="header-button" onclick="window.location.href='/signup'">Sign-up</button>
				<button class="header-button" onclick="window.location.href='/login'">Log-in</button>
			} else {
				<button class="header-button" onclick="window.location.href='/profile'">Perfil</button>
			}
		</div>
		<script>
			const input = document.getElementById("query");
			input.addEventListener("keypress", (e) => {
				if (e.key === "Enter") {
					const query = input.value.trim();
					if (!query) return;
					window.location.href = `/search?query=${encodeURIComponent(query)}`;
				}
			});
		</script>
	</header>
}