package views 

import "scifi-search/app/utils"

templ Header() {
	<header class="header">
		<a onclick="window.location.href='/'">
			<img src="static/img/logo.png" alt="icono" style="width:240px; height:70px;" id="header-logo"/>
		</a>
	</header>
}

templ IndexHeader(isUserAuthenticated bool, translator utils.Translator) {
	<header class="index-header">
		@userOptions(isUserAuthenticated, translator)
		<!--button class="header-button" onclick="window.location.href='/trends'">Trends</button-->
	</header>
}

templ SearchHeader(isUserAuthenticated bool, translator utils.Translator) {
	<header class="search-header">
		<div class="header-left">
			<a onclick="window.location.href='/'">
				<img src="static/img/logo_blanco.png" alt="icono" id="logo_scifi_header"/>
			</a>
			<input type="text" id="query" placeholder="Search for SCIENCE!!!"/>
		</div>
		<div class="header-right">
			@userOptions(isUserAuthenticated, translator)
		</div>
		<script>
			const input = document.getElementById("query");
			input.addEventListener("keypress", (e) => {
				if (e.key === "Enter") {
					const query = input.value.trim();
					if (!query) return;
					window.location.href = `/search?query=${encodeURIComponent(query)}`;
				}
			});
		</script>
	</header>
}

templ userOptions(isUserAuthenticated bool, translator utils.Translator) {
    if !isUserAuthenticated {
			<button class="header-button" onclick="window.location.href='/signup'">{ translator("sign-up.tag") }</button>
			<button class="header-button" onclick="window.location.href='/login'">{ translator("log-in.tag") }</button>
		} else {
			<div class="index-menu">
				<button id="header-menu" onclick="toggleSlidemenu(event)">
					<img src="static/img/menu.svg" alt="header-menu-img" id="header-menu-img"/>
				</button>
				<div id="menu" class="menu-content hidden">
                    <div id="close-menu"> MENU </div>
					<!--button class="menu-button" onclick="window.location.href='/profile'">{ translator("profile.tag") }</button-->
					<!--button class="menu-button" onclick="window.location.href='/funding'">Funding</button-->
                    <button class="menu-button" onclick="window.location.href='/profile'">Configuración</button>
                    <button class="menu-button">Historial</button>
					<button class="menu-button" onclick="window.location.href='/funding'">Subir un proyecto</button>
                    <button class="menu-button">Cerrar sesión </button>
				</div>
			</div>
		}
    <script>
        function toggleSlidemenu(e) {
            e.stopPropagation();
            document.getElementById("menu").classList.toggle("hidden");
            document.getElementById("header-menu-img").classList.add("hidden");
        }

        document.addEventListener("click", () => { // Para cerrar el dropdown menu al cliquear afuera
			document.getElementById("menu").classList.add("hidden");
            document.getElementById("header-menu-img").classList.toggle("hidden");
		});
    </script>
}