package views

import "scifi-search/app/utils"

// ------------------------------------------------------------------------------------------------

templ indexContent(isUserAuthenticated bool, translator utils.Translator) {
	@indexHeader(isUserAuthenticated, translator)
	<main class="index-content">
		<div class="index-top">
			<div class="centered-container">
				<div class="inicio-image-container">
					<img src="static/img/logo.png" alt="Logo Scifi" id="logo_scifi"/>
				</div>
				<div class="inicio-query-container">
					<input type="text" id="first-query" placeholder="Search for SCIENCE!!!"/>
				</div>
			</div>
		</div>
		<div class="index-bottom">
			if isUserAuthenticated {
				<!-- Aca irían 4 proyectos que le podrían interesar con shadow-box  -->
			}
		</div>
		<script>
			const input = document.getElementById("first-query");
			input.addEventListener("keypress", (e) => {
				if (e.key === "Enter") {
					const query = input.value.trim();
					if (!query) return;
					window.location.href = `/search?query=${encodeURIComponent(query)}`;
				}
			});
		</script>
	</main>
}

// ------------------------------------------------------------------------------------------------

templ IndexPage(isUserAuthenticated bool, translator utils.Translator) {
	@Layout("SciFi Search", translator, func() templ.Component {
		return indexContent(isUserAuthenticated, translator)
	})
}
