package views

import "scifi-search/app/languages"

// ------------------------------------------------------------------------------------------------
// Services
// ------------------------------------------------------------------------------------------------
templ IndexPage(authorizationLevel int, translator languages.Translator) {
	@Layout("SciFi Search", translator,
		func() templ.Component { return IndexHeader(authorizationLevel, translator) },
		func() templ.Component { return indexContent(translator) },
	)
}

// ------------------------------------------------------------------------------------------------
// Functions
// ------------------------------------------------------------------------------------------------
templ indexContent(translator languages.Translator) {
	<main class="index-content">
		<div class="index-top">
			<div class="centered-container">
				<div class="inicio-image-container">
					<img src="static/img/logo.png" alt="Logo Scifi" id="logo_scifi"/>
				</div>
				<div class="inicio-query-container">
					<input
						type="text"
						id="first-query"
						name="query"
						placeholder={ translator("search_for_science") }
						hx-get="/search"
						hx-trigger="keyup[key=='Enter' && this.value.trim()!='']"
						hx-target="body"
						hx-push-url="true"
						hx-include="this"
					/>
				</div>
			</div>
		</div>
	</main>
}

// ------------------------------------------------------------------------------------------------
