package views

import "scifi-search/app/utils"

// ------------------------------------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------------------------------------
templ Layout(title string, translator utils.Translator, content func() templ.Component) {
	<!DOCTYPE html>
	<html lang="es">
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
		<!-- Script de ECharts -->
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap"/>
			<link rel="icon" type="image/png" href="/static/img/icono.png"/>
		</head>
		<body>
			<div class="contenedor-grid">
				@content()
				@Footer(translator)
			</div>
		</body>
	</html>
}

// ------------------------------------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------------------------------------
templ Footer(translator utils.Translator) {
	<footer class="footer">
		<p class="footer-text">
			{ translator("powered-by") }:
			<a href="https://www.meilisearch.com/" target="_blank">
				<img src="static/img/logo_meilisearch_negro.png" alt="Logo Meilisearch" id="logo-meilisearch"/>
			</a>
			<a href="https://supertokens.com/" target="_blank">
				<img src="static/img/logo_supertokens.png" alt="Logo Supertokens" id="logo-supertokens"/>
			</a>
			<a href="https://github.com/minio/minio" target="_blank">
				<img src="static/img/logo_minio.svg" alt="Logo MinIO" id="logo-minio"/>
			</a>
		</p>
	</footer>
}

// ------------------------------------------------------------------------------------------------
