package views

import "scifi-search/app/languages"

// ------------------------------------------------------------------------------------------------
// Services
// ------------------------------------------------------------------------------------------------
templ LoaderPage(authorizationLevel int, translator languages.Translator) {
	@Layout(translator("core.add-a-loader"), translator,
		func() templ.Component { return Header(true, authorizationLevel, translator) },
		func() templ.Component { return loaderContent(translator) },
	)
}

// ------------------------------------------------------------------------------------------------
// Functions
// ------------------------------------------------------------------------------------------------
templ loaderContent(translator languages.Translator) {
	<div class="only-form-content">
		<div class="centered-container">
			<form
				id="signup-form"
				hx-post="/loader"
				hx-target="body"
				hx-push-url="true"
			>
				@signUpFields(translator)
				<button class="scifi-button" type="submit">
					{ translator("core.add-loader") }
				</button>
			</form>
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------
