package views

// ------------------------------------------------------------------------------------------------
// LogIn Content
// ------------------------------------------------------------------------------------------------
templ loginContent(errorMessage string) {
	@Header()
	<main>
		<div class="only-form-content">
			<div class="centered-container">
				<form id="login-form" action="/login" method="POST">
					<div class="form-email-container">
						<input id="email" type="email" name="email" placeholder="Email" required/>
					</div>
					<div class="form-password-container">
						<input id="password" type="password" name="password" placeholder="Password" required/>
					</div>
					<div class="form-submit-container">
						<button class="submit-button" type="submit">Log in</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	if errorMessage != "" {
		<div id="mensaje" style="color:red;">
			{ errorMessage }
		</div>
	}
}

// ------------------------------------------------------------------------------------------------
// LogIn Page
// ------------------------------------------------------------------------------------------------
templ LoginPage(errorMessage string) {
	@Layout("Log-In", func() templ.Component {
		return loginContent(errorMessage)
	})
}

// ------------------------------------------------------------------------------------------------
