package views

// ------------------------------------------------------------------------------------------------
// Services
// ------------------------------------------------------------------------------------------------
templ ModalRoot() {
	<div id="modal-root"></div>
}

// ------------------------------------------------------------------------------------------------
templ Modal(modalTitle string, modalBody func() templ.Component) {
	<div
		class="modal-overlay"
		_="on click
            if the target is me
                remove me
            end"
	>
		<div class="modal-content">
			<div class="modal-header">
				<h2>
					{ modalTitle }
				</h2>
				<button
					class="close-button"
					type="button"
					_="on click remove closest .modal-overlay"
				>
					&times;
				</button>
			</div>
			@modalBody()
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------
