package views

import sqlc "scifi-search/app/database"

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------
templ loggedProfileContent(user sqlc.User, searches []string) {
	<div class="profile-container">
		<h1>Bienvenido, { user.Name } { user.Surname }!</h1>
		<a href="/signout" id="signout">Cerrar sesión</a>
		<h2>Búsquedas antiguas</h2>
		<ul id="the-user-list">
			for _, search := range searches {
				<li>
					{ search }
				</li>
			}
		</ul>
	</div>
}

// ------------------------------------------------------------------------------------------------
// Profile Page
// ------------------------------------------------------------------------------------------------
templ LoggedProfilePage(user sqlc.User, searches []string) {
	@Layout(user.Name, true, func() templ.Component {
		return loggedProfileContent(user, searches)
	})
}

// ------------------------------------------------------------------------------------------------
templ UnloggedProfilePage() {
	<h1>INICIE SESIÓN. NO HAY SESIÓN</h1>
}
