package views

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------

import (
	"container/list"
	"scifi-search/app/languages"
	"scifi-search/app/utils/converters"
)

// ------------------------------------------------------------------------------------------------
// Functions
// ------------------------------------------------------------------------------------------------
templ searchFilters(
	query string, documentTypes *list.List, documentAreas *list.List,
	documentCountriesBasedOn *list.List, translator languages.Translator,
) {
	<div
		id="all-filters"
		_="on click from elsewhere
            add .hidden to .dropdown-content"
	>
		<div class="dropdown">
			<button
				class="dropbtn"
				name="sortby"
				_="on click halt the event
                    add .hidden to #document-based-on-menu
                    add .hidden to #document-type-menu
                    add .hidden to #document-area-menu
                    toggle .hidden on #sortby-menu"
			>
				{ translator("core.sort-by") }
			</button>
			<div id="sortby-menu" class="dropdown-content onlyone hidden">
				@sortingCheckboxes(translator)
			</div>
		</div>
		<div class="dropdown">
			<button
				class="dropbtn"
				name="area"
				_="on click halt the event
                    add .hidden to #document-based-on-menu
                    add .hidden to #document-type-menu
                    add .hidden to #sortby-menu
                    toggle .hidden on #document-area-menu"
			>
				{ translator("core.area") }
			</button>
			<div
				id="document-area-menu"
				class="dropdown-content hidden"
			>
				@valuesCheckboxes("area", false, documentAreas)
			</div>
		</div>
		<div class="dropdown">
			<button
				class="dropbtn"
				name="type"
				_="on click halt the event
                    add .hidden to #document-based-on-menu
                    add .hidden to #document-area-menu
                    add .hidden to #sortby-menu
                    toggle .hidden on #document-type-menu"
			>
				{ translator("core.type") }
			</button>
			<div
				id="document-type-menu"
				class="dropdown-content onlyone hidden"
			>
				@valuesCheckboxes("type", true, documentTypes)
			</div>
		</div>
		<div class="dropdown">
			<button
				class="dropbtn"
				name="based-on"
				_="on click halt the event
                    add .hidden to #document-type-menu
                    add .hidden to #document-area-menu
                    add .hidden to #sortby-menu
                    toggle .hidden on #document-based-on-menu"
			>
				{ translator("core.based-on") }
			</button>
			<div
				id="document-based-on-menu"
				class="dropdown-content onlyone hidden"
			>
				if documentCountriesBasedOn.Len() > 0 {
					@valuesCheckboxes("based-on", true, documentCountriesBasedOn)
				} else {
					<p class="no-filters-message">{ translator("core.no-options-available") }</p>
				}
			</div>
		</div>
		<input type="hidden" name="query" value={ query }/>
	</div>
}

// ------------------------------------------------------------------------------------------------
templ valuesCheckboxes(name string, onlyone bool, values *list.List) {
	for e := values.Front(); e != nil; e = e.Next() {
		<label class="checkbox-item">
			if onlyone {
				<input
					type="checkbox"
					name={ name }
					value={ e.Value.(string) }
					hx-get="/search/update-filter"
					hx-trigger="mychange"
					hx-target="#results"
					hx-swap="innerHTML"
					hx-include="#all-filters"
					_="on change 
                        repeat for cb in <input[type=checkbox]/> in closest .dropdown-content
                            if cb is not me
                                set cb's checked to false
                            end
                        end
                        trigger mychange"
				/>
			} else {
				<input
					type="checkbox"
					name={ name }
					value={ e.Value.(string) }
					hx-get="/search/update-filter"
					hx-trigger="change"
					hx-target="#results"
					hx-swap="innerHTML"
					hx-include="#all-filters"
				/>
			}
			{ e.Value.(string) }
		</label>
	}
}

// ------------------------------------------------------------------------------------------------
templ sortingCheckboxes(translator languages.Translator) {
	@sortingCheckboxesItem("name", "asc", translator)
	@sortingCheckboxesItem("name", "desc", translator)
	@sortingCheckboxesItem("type", "asc", translator)
	@sortingCheckboxesItem("type", "desc", translator)
	@sortingCheckboxesItem("deadline", "asc", translator)
	@sortingCheckboxesItem("deadline", "desc", translator)
}

// ------------------------------------------------------------------------------------------------
templ sortingCheckboxesItem(value string, order string, translator languages.Translator) {
	<label class="checkbox-item">
		<input
			type="checkbox"
			name="sortby"
			value={ converters.UppercaseFirstLetter(value) + ":" + order }
			hx-get="/search/update-filter"
			hx-trigger="mychange"
			hx-target="#results"
			hx-swap="innerHTML"
			hx-include="#all-filters"
			_="on change 
                repeat for cb in <input[type=checkbox]/> in closest .dropdown-content
                    if cb is not me
                        set cb's checked to false
                    end
                end
                trigger mychange"
		/>
		{ translator("core." + value + "-" + order) }
	</label>
}

// ------------------------------------------------------------------------------------------------
