package views 

// ------------------------------------------------------------------------------------------------
// Services
// ------------------------------------------------------------------------------------------------
templ SessionInfo(payload map[string]string) {
	<html>
		<head>
			<title>Session Information</title>
		</head>
		<body>
			<h1>Active Session</h1>
			<ul>
				for key, value := range payload {
					<li>
						<strong>{ key }:</strong> { value }
					</li>
				}
			</ul>
		</body>
	</html>
}

// ------------------------------------------------------------------------------------------------
