package views

import "scifi-search/app/languages"

templ loginContent(translator languages.Translator) {
	@showPopUp()
	<div class="only-form-content">
		<div class="centered-container">
			<form
				id="login-form"
				hx-post="/login"
				hx-target="body"
				hx-push-url="true"
			>
				<div id="form-inputs">
					<input
						id="email"
						type="email"
						name="email"
						placeholder={ translator("email") }
						required
					/>
					<input
						id="password"
						type="password"
						name="password"
						placeholder={ translator("password") }
						required
					/>
				</div>
				<button class="scifi-button" type="submit">
					{ translator("log-in") }
				</button>
			</form>
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------
templ LoginPage(authorizationLevel int, translator languages.Translator) {
	@Layout(translator("log-in"), translator,
		func() templ.Component { return AuthHeader(authorizationLevel, translator) },
		func() templ.Component { return loginContent(translator) },
	)
}
