package views 

templ sucessfulSignUpContent() {
    <h1>Sign-up completed with success!</h1>

    <div class="menu-options">
        <button onclick="window.location.href='/'">Go to main page</button>
    </div>
}

templ SuccessfulSignUpPage() {
    @Layout("Successful sign-up", func() templ.Component {
        return sucessfulSignUpContent()
    })
}