package views

import "html/template"
import "scifi-search/app/utils"

templ trendsContent(htmlChart template.HTML, isUserAuthenticated bool, translator utils.Translator) {
	@IndexHeader(isUserAuthenticated, translator)
	@Header()
	<div class="trends-container">
		<h1>Tendencias de Búsqueda</h1>
		<div class="chart-wrapper">
			@templ.Raw(string(htmlChart))
		</div>
	</div>
}

templ TrendsPage(htmlChart template.HTML, isUserAuthenticated bool, translator utils.Translator) {
	@Layout("Trending", translator, func() templ.Component {
		return trendsContent(htmlChart, isUserAuthenticated, translator)
	})
}
