package views

import "html/template"

import "scifi-search/app/languages"

templ trendsContent(htmlChart template.HTML, translator languages.Translator) {
	<div class="trends-container">
		<h1>{ translator("search-trends") }</h1>
		<div class="chart-wrapper">
			@templ.Raw(string(htmlChart))
		</div>
	</div>
}

templ TrendsPage(htmlChart template.HTML, isUserAuthenticated bool, translator languages.Translator) {
	@Layout("Trending", translator,
		func() templ.Component { return Header(true, isUserAuthenticated, translator) },
		func() templ.Component { return trendsContent(htmlChart, translator) },
	)
}
