package views 

templ userList() {
    <div class="user-list">
        <div class="centered-container">
            <ul id="user-list">
                <!-- Aquí se inyectarán los usuarios -->
            </ul>
        </div>
    </div>
    <script src="js/app.js"></script> 
}