package views 

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------

import (
    sqlc "scifi-search/app/database"
)

// ------------------------------------------------------------------------------------------------
// User List (Solo para TP5)
// ------------------------------------------------------------------------------------------------

templ userList(list []sqlc.User) {
    <div class="user-list">
        <div class="centered-container">
            <ul id="user-list">
                for _, user := range list {
                    <li> 
                        { user.Name } 
                        { user.Surname }
                    </li>
                } 
            </ul>
        </div>
    </div>
}