package views 

templ userForm() {
    <div class="load-user">
        <div class="centered-container">
            <form id="signup-form">
            <div class="form-name-container">
                <input type="text" id="name" placeholder="Name" name="name" required="true" />
            </div>
            <div class="form-surname-container">
                <input type="text" id="surname" placeholder="Surname" name="surname" required="true" />
                </div>
                <div class="form-submit-container">
                    <button class="submit-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
}