package views 

// ------------------------------------------------------------------------------------------------
// User Form (Solo para TP5)
// ------------------------------------------------------------------------------------------------
templ userForm() {
	<div class="load-user">
		<div class="centered-container">
			<form
				id="signup-form"
				hx-post="/create-user"
				hx-target="#the-user-list"
				hx-swap="beforeend"
			>
				<div class="form-name-container">
					<input type="text" id="name" placeholder="Name" name="name" required/>
				</div>
				<div class="form-surname-container">
					<input type="text" id="surname" placeholder="Surname" name="surname" required/>
				</div>
				<div class="form-email-container">
					<input type="email" id="email" placeholder="Email" name="email" required/>
				</div>
				<div class="form-password-container">
					<input type="password" id="password" placeholder="Password" name="password" required/>
				</div>
				<div class="form-submit-container">
					<button class="submit-button" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------
