package views

import sqlc "scifi-search/app/database"

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------

// ------------------------------------------------------------------------------------------------
// User List Content
// ------------------------------------------------------------------------------------------------
templ userListContent(users []sqlc.User) {
	<h1>Lista de Usuarios</h1>
	<main>
		<ul>
			for _, user := range users {
				<li>{ user.Name } -  { user.Surname } </li>
			}
		</ul>
	</main>
}

// ------------------------------------------------------------------------------------------------
// User List Page
// ------------------------------------------------------------------------------------------------
templ UserListPage(users []sqlc.User) {
	@Layout("Listado de usuarios", func() templ.Component {
		return userListContent(users)
	})
}
