package views

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------

import (
	"scifi-search/app/auth"
	"scifi-search/app/languages"
)

// ------------------------------------------------------------------------------------------------
// Functions
// ------------------------------------------------------------------------------------------------
templ userOptions(authorizationLevel int, translator languages.Translator) {
	if authorizationLevel <= auth.NoRole.Level {
		@guestOptions(translator)
	} else {
		@userMenu(authorizationLevel, translator)
	}
}

// ------------------------------------------------------------------------------------------------
templ navButton(url string, label string, class string) {
	<button
		class={ class }
		hx-get={ url }
		hx-target="body"
		hx-push-url="true"
		_="on click 
		   set #menu's *display to 'none'
		   set #header-menu-img's *display to 'block'"
	>
		{ label }
	</button>
}

// ------------------------------------------------------------------------------------------------
templ guestOptions(translator languages.Translator) {
	@navButton("/signup", translator("core.sign-up"), "scifi-button")
	@navButton("/login", translator("core.log-in"), "scifi-button")
}

// ------------------------------------------------------------------------------------------------
templ userMenu(authorizationLevel int, translator languages.Translator) {
	<div
		class="index-menu"
		_="on click from elsewhere
			if the target of the event is not in me
		   		set #menu's *display to 'none'
		    	set #header-menu-img's *display to 'block'
			end"
	>
		<button
			id="header-menu"
			_="on click halt the event
			   	if #menu's *display is 'none'
					set #menu's *display to 'block'
					set #header-menu-img's *display to 'none'
				else
					set #menu's *display to 'none'
					set #header-menu-img's *display to 'block'
				end"
		>
			<img
				src="static/img/icons/menu-blue.svg"
				alt="header-menu-img"
				id="header-menu-img"
			/>
		</button>
		<div id="menu" class="menu-content" style="display: none;">
			<div id="close-menu">{ translator("core.menu") }</div>
			@navButton("/settings", translator("core.settings"), "menu-button")
			@navButton("/history", translator("core.history"), "menu-button")
			@navButton("/trends", translator("core.trends"), "menu-button")
			if authorizationLevel >= auth.AdminRole.Level {
				@navButton("/loader", translator("core.add-a-loader"), "menu-button")
			}
			if authorizationLevel >= auth.LoaderRole.Level {
				@navButton("/funding", translator("core.manage-fundings"), "menu-button")
			}
			@navButton("/signout", translator("core.log-out"), "menu-button")
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------
