package views

templ userDeletedContent() {
    <h1>User deleted with success!</h1>

    <div class="menu-options">
        <button onclick="window.location.href='/'">Go to main page</button>
    </div>
}

templ UserDeletedPage() {
    @;
}