package views 

// ------------------------------------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------------------------------------

import (

	sqlc "scifi-search/app/database"
	"scifi-search/app/utils"
)

// ------------------------------------------------------------------------------------------------
// User List
// ------------------------------------------------------------------------------------------------
templ UserList(list []sqlc.User) {
	<div class="user-list">
		<div class="centered-container">
			<ul id="the-user-list">
                for _, user := range list {
                    @UserIndividual(user)
                }
            </ul>
		</div>
	</div>
}

// ------------------------------------------------------------------------------------------------

templ UserIndividual(user sqlc.User) {
    <li id={"individual-user-" + utils.ToString(user.UserID)}>
        { user.Name }
        { user.Surname }
		<button
			class="delete-button" 
            hx-delete={"/users/" + utils.ToString(user.UserID)}
			hx-target={"#individual-user-" + utils.ToString(user.UserID)}
			hx-swap="outerHTML"
			hx-confirm="¿Desea eliminar al usuario? ¡Esta decisión no puede deshacerse!"
			type="submit">Delete
		</button>
    </li>
}
// ------------------------------------------------------------------------------------------------
