{{ define "title" }}Exactas{{ end }}

{{ define "content" }}

    <section class="portada">
        <div class="portada-contenido">
            <a href="https://exa.unicen.edu.ar/">
                <img src="static/img/facultades/logo_exactas.png" alt="Logo exactas" id="logo_exactas">
            </a>
        </div>
    </section>

    <section class="muro">

        <section class="insignias">
            <h2>Insignias</h2>
            <p> un monton de insignias somos re capos</p>
        </section>

        <section class="recientes">
            <h2>Recientes</h2>
            <p> resultados recientes </p>
        </section>

        <section class="proximo_partido">
            <h2>Proximo partido</h2>
            <p> seccion de proximo partido </p>
        </section>

    </section>

{{ end }}